---
	//Layouts and Components
	import Layout from "@layouts/Layout.astro";
	import Category from "@components/Category.astro";
	import Product from "@components/Product.astro";
	import Season from "@components/Season.astro";
  import BrandsList from "@components/BrandsList.astro";
	import AutomaticCarousel from "@components/AutomaticCarousel.astro";
	import Slider from "@components/Slider.astro";
  import SeeMore from "@components/SeeMore.astro";



	//Data
	import categories from '@services/categories.json';
	import seasons from '@services/seasons.json';
	import products from '@services/products.json';
	import brands from '@services/brands.json';

	const titlePage = '★ Proveedores de Dulces al por Mayor | Dulcerías Denny';
	const descriptionPage = 'Contamos con 130 marcas diferentes de caramelos, chocolates, paletas, y más. Nuestros 30 años de experiencia nos respaldan. ¡Visítanos hoy mismo!';

	const initialCategories = categories.slice(0,4);
	const restCategories = categories.slice(4);

	const favorites = [...products].slice(0,3);
	const brandsHome = brands.slice(0, 8).map(brand => ({...brand, nameVisible: false}))

---

<Layout titlePage={titlePage} descriptionPage={descriptionPage}>
	<!-- Hero -->
	<main id="hero" class="w-full min-h-[75vh] flex items-center relative overflow-hidden bg-gradient-to-br from-denny-blue-200 to-denny-blue-400 text-white">
		<img src="/images/home/moritas.webp" alt="Dulce-moritas" class="layer absolute top-0 left-[3%] object-cover" data-speed="-4"/>
		<img src="/images/home/gomitas.webp" alt="Dulce-gomitas" class="layer absolute bottom-0 left-[3%] md:left-[40%] object-cover" data-speed="5"/>
		<img src="/images/home/dulces.webp" alt="Dulce-varios" class="layer absolute bottom-0 right-0 object-cover" data-speed="-2"/>
		<div class="container relative mb-28 lg:mb-0">
				<h1 class="text-4xl md:text-5xl font-bold uppercase">Distribuidora de dulces</h1>
				<h2 class="text-xl md:text-2xl mt-1">Encuentra caramelos, paletas, botanas, y chocolates al mejor precio</h2>
		</div>
	</main>

	<!-- Automatic Carousel Banners -->
	<section class="my-8">
		<div class="container">
			<AutomaticCarousel/>
		</div>
	</section>

	<!-- Subcopy -->
	<section class="mt-8 py-5">
		<div class="container text-center text-denny-dark-400">
				<p>En Dulcerías Denny trabajamos con 130 marcas diferentes y contamos con más de 2,000 productos disponibles para su venta inmediata en cualquiera de nuestras 24 sucursales.</p>
				<hgroup class="mt-8">
					<h2 class="font-bold text-denny-blue-300 mb-2 text-lg">Dulces al mayoreo</h2>
					<p>Si necesitas un distribuidor de dulces para surtir tu negocio, nosotros somos tu mejor opción.</p>
				</hgroup>
		</div>
	</section>

	<!-- Categories section -->
	<section class="mt-8 py-5">
		<div class="container">
			<h2 class="font-bold text-denny-blue-300 text-center text-xl">¿Buscas algún producto en especial?</h2>
			<SeeMore/>
		</div>
	</section>

	<!-- Favorites -->
	<section class="mt-8 py-5 relative overflow-hidden min-h-[80vh] flex items-center">
		<img src="/images/home/confetti-left.svg" alt="Confetti-Left" class="w-[100px] lg:w-auto absolute top-0 -left-5">
		<img src="/images/home/confetti-right.svg" alt="Confetti-Right" class="w-[100px] lg:w-auto absolute bottom-0 -right-5">
		<div class="container">
			<h2 class="font-bold text-denny-blue-300 text-center text-xl">Los favoritos de todos</h2>
			<div class="favorites__wrapper mt-8 grid grid-cols-[repeat(auto-fit,minmax(180px,1fr))] gap-x-4 gap-y-14 justify-center justify-items-center">
				{
					favorites.map(fav => {
						return (
							<Product
							name={fav.name}
							quantity={fav.quantity}
							prevPrice={fav.prevPrice ?? null}
							price={fav.price}
							imgSrc={fav.imgSrc}
							/>
						)
					})
				}
			</div>
		</div>
	</section>

	<!-- Seasons -->
	<section class="mt-8 py-5">
		<div class="container">
			<hgroup>
				<h2 class="font-bold text-denny-blue-300 text-center text-xl">Nuestros dulces por temporada</h2>
				<p class="text-denny-dark-400 text-center mt-3">Contamos con una amplia variedad de confitería para endulzar los mejores momentos de tu vida.</p>
			</hgroup>
			<Slider>
				{
					seasons.map((season, index) => {
						return (
							<div class="slide w-full shrink-0" role="group" aria-label={`slide ${index + 1}`}>
								<Season name={season.name} copy={season.copy} imgSrc={season.imgSrc}/>
							</div>
						)
					})
				}
			</Slider>
		</div>
	</section>

	<!-- Brands -->
	<section class="mt-8 py-5">
		<div class="container text-center">
			<h2 class="font-bold text-denny-blue-300 text-center text-xl">Nuestras marcas de dulces</h2>
			<BrandsList brandslist={brandsHome}/>
			<a href="/marcas-dulces" class="py-2 px-3 inline-block bg-denny-blue-100 text-white rounded-3xl hover:bg-denny-blue-300 transition-colors delay-100">Ver todos los productos por marca</a>
		</div>
	</section>

	<!-- Banner -->
	<section class="my-16 py-5">
		<div class="container">
			 <div class="banner min-h-[250px] flex-col md:flex-row flex W-full md:w-4/5 justify-center items-center py-5 px-10 mx-auto bg-gradient-to-br from-denny-blue-400 to-denny-blue-100 text-white rounded-3xl">
				<picture class="min-w-[100px] max-w-[190px] w-3/4 lg:mr-auto lg:-translate-x-28 md:w-[30%] lg:w-[20%]">
					<img src="/images/home/shop.webp" alt="Dulces-Shop" class="w-full object-cover">
				</picture>
				<div class="mt-6 md:mt-0 md:mr-auto md:w-[80%] ml-6">
					<h3 class="font-bold text-2xl md:text-3xl">Permitenos ser tu proveedor de dulces</h3>
					<div class="flex flex-col md:flex-row justify-between">
						<ul class="banner__list mt-2 mb-2">
							<li>Precios especiales de mayoreo</li>
							<li>Descuentos por volumen y recompra </li>
							<li>+150 marcas y proveedores</li>
						</ul>
						<button id="btn-banner-contact" class="bg-denny-green text-white py-2 px-3 md:self-end rounded-3xl shadow-md">Cotiza tu pedido</button>
					</div>
				</div>
			 </div>
		</div>
	</section>

	<!-- Most selled -->
	<section class="mt-8 py-5">
		<div class="container">
			<h2 class="font-bold text-denny-blue-300 text-center text-xl">Los dulces y botanas más vendidos del mes</h2>
			<div class="favorites__wrapper mt-8 grid grid-cols-[repeat(auto-fit,minmax(180px,1fr))] gap-x-4 gap-y-20 justify-center justify-items-center">
				{
					favorites.map(fav => {
						return (
							<Product
							name={fav.name}
							quantity={fav.quantity}
							prevPrice={fav.prevPrice ?? null}
							price={fav.price}
							imgSrc={fav.imgSrc}
							/>
						)
					})
				}
			</div>
		</div>
	</section>
</Layout>


<style>
	.banner__list {
		list-style-position: inside;
	}
	.banner__list li::marker {
		content: url(/images/home/bullet.svg) " ";
	}
</style>

<!-- JS -->
<script>
	// Parallax mousemove
	const heroSection = document.querySelector('#hero');
	heroSection.addEventListener('mousemove', parallaxMouse);
	const candiesImages = heroSection.querySelectorAll<HTMLElement>('.layer');

	function parallaxMouse(event) {
		candiesImages.forEach(candyImg => {
			const speed = Number(candyImg.dataset.speed);
			const coords = {
				x: (window.innerWidth - event.pageX * speed) / 100,
				y: (window.innerHeight - event.pageY * speed) / 100
			}

			candyImg.style.transform =  `translate(${coords.x}px, ${coords.y}px)`
		})
	}

	// Contact
	const contactWrapper = document.querySelector('#contact-wrapper');
	const btnContactOpen = document.querySelector('#btn-banner-contact');
  const overlay = document.querySelector('#overlay');

	// Contact
	btnContactOpen.addEventListener('click', () => {
    contactWrapper.classList.remove('translate-x-full')
    contactWrapper.classList.add('translate-x-0')
    overlay.classList.add('overlay__toggle');
  });
</script>
