---
	//Layouts and Components
	import Layout from "@layouts/Layout.astro";
	import Category from "@components/Category.astro";
	import Product from "@components/Product.astro";
	import Season from "@components/Season.astro";
  import BrandsList from "@components/BrandsList.astro";


	//Data
	import categories from '@services/categories.json';
	import seasons from '@services/seasons.json';
	import products from '@services/products.json';
	import brands from '@services/brands.json';

	const titlePage = '★ Proveedores de Dulces al por Mayor | Dulcerías Denny';
	const descriptionPage = 'Contamos con 130 marcas diferentes de caramelos, chocolates, paletas, y más. Nuestros 30 años de experiencia nos respaldan. ¡Visítanos hoy mismo!';

	const favorites = [...products].slice(0,3);
	const brandsHome = brands.slice(0, 8).map(brand => ({...brand, nameVisible: false}))

---

<Layout titlePage={titlePage} descriptionPage={descriptionPage}>
	<!-- Hero -->
	<main id="hero" class="w-full min-h-[75vh] flex items-center relative overflow-hidden bg-gradient-to-br from-denny-blue-200 to-denny-blue-400 text-white">
		<img src="/images/home/moritas.webp" alt="Dulce-moritas" class="layer absolute top-0 left-[3%] object-cover" data-speed="-4"/>
		<img src="/images/home/gomitas.webp" alt="Dulce-gomitas" class="layer absolute bottom-0 left-[3%] md:left-[40%] object-cover" data-speed="5"/>
		<img src="/images/home/dulces.webp" alt="Dulce-varios" class="layer absolute bottom-0 right-0 object-cover" data-speed="-2"/>
		<div class="container relative mb-28 lg:mb-0">
				<h1 class="text-4xl md:text-5xl font-bold uppercase">Distribuidora de dulces</h1>
				<h2 class="text-xl md:text-2xl mt-1">Encuentra caramelos, paletas, botanas, y chocolates al mejor precio</h2>
		</div>
	</main>

	<!-- Slider -->
	<section></section>

	<!-- Subcopy -->
	<section class="mt-8 py-5">
		<div class="container text-center text-denny-dark-400">
				<p>En Dulcerías Denny trabajamos con 130 marcas diferentes y contamos con más de 2,000 productos disponibles para su venta inmediata en cualquiera de nuestras 24 sucursales.</p>
				<hgroup class="mt-8">
					<h2 class="font-bold text-denny-blue-300 mb-2 text-lg">Dulces al mayoreo</h2>
					<p>Si necesitas un distribuidor de dulces para surtir tu negocio, nosotros somos tu mejor opción.</p>
				</hgroup>
		</div>
	</section>

	<!-- Categories section -->
	<section class="mt-8 py-5">
		<div class="container">
			<h2 class="font-bold text-denny-blue-300 text-center text-xl">¿Buscas algún producto en especial?</h2>
			<div class="categories__wrapper grid grid-cols-[repeat(auto-fit,minmax(200px,1fr))] lg:grid-cols-4 gap-4 justify-items-center mt-6 mb-8 overflow-hidden">
				{categories.map(category => {
					return (<Category name={category.name} imgSrc={category.image}/>)
				})}
			</div>
			<button id="btn-more-categories" class="flex items-center mx-auto text-denny-blue-100 font-bold">
				<strong>Ver más categorías</strong>
				<span class="inline-block rotate-180 ml-1">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-triangle" width="14" height="14" viewBox="0 0 24 24" stroke-width="1" stroke="#0D6FFF" fill="#0D6FFF" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" />
					</svg>
				</span>
			</button>
		</div>
	</section>

	<!-- Favorites -->
	<section class="mt-8 py-5 relative overflow-hidden min-h-[80vh] flex items-center">
		<img src="/images/home/confetti-left.svg" alt="Confetti-Left" class="w-[100px] lg:w-auto absolute top-0 -left-5">
		<img src="/images/home/confetti-right.svg" alt="Confetti-Right" class="w-[100px] lg:w-auto absolute bottom-0 -right-5">
		<div class="container">
			<h2 class="font-bold text-denny-blue-300 text-center text-xl">Los favoritos de todos</h2>
			<div class="favorites__wrapper mt-8 grid grid-cols-[repeat(auto-fit,minmax(150px,1fr))] gap-x-4 gap-y-5 justify-center justify-items-center">
				{
					favorites.map(fav => {
						return (
							<Product
							name={fav.name}
							quantity={fav.quantity}
							prevPrice={fav.prevPrice ?? null}
							price={fav.price}
							imgSrc={fav.imgSrc}
							/>
						)
					})
				}
			</div>
		</div>
	</section>

	<!-- Seasons -->
	<section class="mt-8 py-5">
		<div class="container">
			<hgroup>
				<h2 class="font-bold text-denny-blue-300 text-center text-xl">Nuestros dulces por temporada</h2>
				<p class="text-denny-dark-400 text-center mt-3">Contamos con una amplia variedad de confitería para endulzar los mejores momentos de tu vida.</p>
			</hgroup>
			<section class="seasons mt-14 relative overflow-hidden" aria-label="carousel">
				<button id="btn-slider-prev" class="absolute top-1/2 left-0 z-[3]">
					<span>
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="50" fill="none"><path fill="#DBDAE2" d="M.0834 24.6814a3.0863 3.0863 0 0 1 .7396-1.7046L19.3524 1.3591A3.089 3.089 0 0 1 21.4973.0278a3.0876 3.0876 0 0 1 2.4213.7138 3.0857 3.0857 0 0 1 1.0807 2.2812 3.086 3.086 0 0 1-.9823 2.325L7.193 24.971l16.824 19.6232a3.0888 3.0888 0 0 1 .9823 2.3257 3.0854 3.0854 0 0 1-1.0807 2.2812 3.0878 3.0878 0 0 1-2.4213.7138 3.0915 3.0915 0 0 1-2.1449-1.3313L.823 26.966a3.0884 3.0884 0 0 1-.7396-2.2842v-.0004Z"/></svg>
					</span>
				</button>
				<button id="btn-slider-next" class="absolute top-1/2 right-0 z-[3]">
					<span>
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="50" fill="none"><path fill="#DBDAE2" d="M24.9166 24.6814a3.087 3.087 0 0 0-.7396-1.7046L5.6475 1.3591A3.0877 3.0877 0 0 0 1.0813.7416 3.0858 3.0858 0 0 0 .0008 3.0228a3.086 3.086 0 0 0 .9823 2.325L17.8071 24.971.9831 44.5942a3.089 3.089 0 0 0-.9824 2.3257 3.0855 3.0855 0 0 0 1.0807 2.2812 3.0878 3.0878 0 0 0 2.4213.7138 3.0913 3.0913 0 0 0 2.1448-1.3313L24.177 26.966a3.0889 3.0889 0 0 0 .7396-2.2842v-.0004Z"/></svg>
					</span>
				</button>
				<div class="slides__container flex transition-all ease-in delay-200">
					{
						seasons.map((season, index) => {
							return (
								<div class="slide w-full shrink-0" role="group" aria-label={`slide ${index + 1}`}>
									<Season name={season.name} copy={season.copy} imgSrc={season.imgSrc}/>
								</div>
							)
						})
					}
				</div>
			</section>
		</div>
	</section>

	<!-- Brands -->
	<section class="mt-8 py-5">
		<div class="container text-center">
			<h2 class="font-bold text-denny-blue-300 text-center text-xl">Nuestras marcas de dulces</h2>
			<BrandsList brandslist={brandsHome}/>
			<a href="/marcas" class="py-2 px-3 inline-block bg-denny-blue-100 text-white rounded-3xl">Ver todos los productos por marca</a>
		</div>
	</section>

	<!-- Banner -->
	<section class="my-16 py-5">
		<div class="container">
			 <div class="banner min-h-[250px] flex-col md:flex-row flex w-3/4 justify-center items-center py-5 px-10 mx-auto bg-gradient-to-br from-denny-blue-400 to-denny-blue-100 text-white rounded-3xl">
				<picture class="min-w-[100px] max-w-[190px] w-3/4 lg:mr-auto lg:-translate-x-28 md:w-[30%] lg:w-[20%]">
					<img src="/images/home/shop.webp" alt="Dulces-Shop" class="w-full object-cover">
				</picture>
				<div class="mt-6 md:mt-0 md:mr-auto md:w-[80%] ml-6">
					<h3 class="font-bold text-2xl md:text-3xl">Permitenos ser tu proveedor de dulces</h3>
					<div class="flex flex-col md:flex-row justify-between">
						<ul class="banner__list mt-2 mb-2">
							<li>Precios especiales de mayoreo</li>
							<li>Descuentos por volumen y recompra </li>
							<li>+150 marcas y proveedores</li>
						</ul>
						<button class="bg-denny-green text-white py-2 px-3 md:self-end rounded-3xl shadow-md">Cotiza tu pedido</button>
					</div>
				</div>
			 </div>
		</div>
	</section>

	<!-- Most selled -->
	<section class="mt-8 py-5">
		<div class="container">
			<h2 class="font-bold text-denny-blue-300 text-center text-xl">Los dulces y botanas más vendidos del mes</h2>
			<div class="favorites__wrapper mt-8 grid grid-cols-[repeat(auto-fit,minmax(150px,1fr))] gap-x-4 gap-y-5 justify-center justify-items-center">
				{
					favorites.map(fav => {
						return (
							<Product
							name={fav.name}
							quantity={fav.quantity}
							prevPrice={fav.prevPrice ?? null}
							price={fav.price}
							imgSrc={fav.imgSrc}
							/>
						)
					})
				}
			</div>
		</div>
	</section>
</Layout>


<style>
	.banner__list {
		list-style-position: inside;
	}
	.banner__list li::marker {
		content: url(/images/home/bullet.svg) " ";
	}
</style>

<!-- JS -->
<script>
	// Parallax mousemove
	const heroSection = document.querySelector('#hero');
	heroSection.addEventListener('mousemove', parallaxMouse);
	const candiesImages = heroSection.querySelectorAll<HTMLElement>('.layer');

	function parallaxMouse(event) {
		candiesImages.forEach(candyImg => {
			const speed = Number(candyImg.dataset.speed);
			const coords = {
				x: (window.innerWidth - event.pageX * speed) / 100,
				y: (window.innerHeight - event.pageY * speed) / 100
			}

			candyImg.style.transform =  `translate(${coords.x}px, ${coords.y}px)`
		})
	}

	// See more categories
	const btnMoreCategories = document.querySelector('#btn-more-categories');
	btnMoreCategories.addEventListener('click', seeMoreCategories)
	// const wrapperCategories = document.querySelector('.wrapper-categories');

	function seeMoreCategories() {
		btnMoreCategories.querySelector('span').classList.toggle('rotate-180');
		// wrapperCategories.classList.toggle('h-auto')
	}


	// Slider seasons
	const slider = document.querySelector<HTMLElement>('.slides__container');
	const numSlides = document.querySelectorAll('.slide').length;
	const btnSliderPrev = document.querySelector('#btn-slider-prev');
	const btnSliderNext = document.querySelector('#btn-slider-next');
	let currentSlide = 0;

	btnSliderNext.addEventListener('click', () => {
		currentSlide += 1;
		if(currentSlide >= numSlides) currentSlide = 0;
		const porcentage = currentSlide * 100;
		slider.style.transform = `translateX(-${porcentage}%)`;
	})

	btnSliderPrev.addEventListener('click', () => {
		currentSlide -= 1;
		if(currentSlide <= 0) currentSlide = numSlides - 1;
		const porcentage = currentSlide * 100;
		slider.style.transform = `translateX(-${porcentage}%)`;
	})


</script>
